# To set the slave and webstatus passwords, create a copy of this file
# named "passwords.py" and edit it, replacing the placeholder strings with
# actual names and passwords

slave_pass = {
    'NAME': 'PASSWORD',
    }

webstatus_pass = 'PASSWORD'

# Name on Developer ID certificates to use for code signing.  If empty,
# nothing will be signed.
signing_name = ''
