#!/usr/bin/env python3

# To set the worker and www passwords, create a copy of this file
# named "passwords.py" and edit it, replacing the placeholder strings with
# actual names and passwords

worker_pass = {
    'NAME': 'PASSWORD',
    }

www_pass = 'PASSWORD'

# Name on Developer ID certificates to use for code signing
signing_name = 'NAME'

# Name of keychain item containing authentication credentials to use for
# notarization
notarization_keychain_profile = 'KEYCHAIN PROFILE'
